COMPARISONS/
RESULT_DIR/
SIMULATION/
SIMULATION_ALGORITMO_DUE_10000/
SIMULATION_ALGORITMO_QUATTRO_10000/
SIMULATION_ALGORITMO_TRE_10000/
SIMULATION_ALGORITMO_UNO_10000/
SIMULATION_ANNUAL/
SIMULATION_ANNUAL_MONTECARLO/
MULTI_ANNUAL/

