COMPARISONS/
RESULT_DIR/
SIMULATION/
SIMULATION_ALGORITMO_DUE_10000/
SIMULATION_ALGORITMO_QUATTRO_10000/
SIMULATION_ALGORITMO_TRE_10000/
SIMULATION_ALGORITMO_UNO_10000/
SIMULATION_ANNUAL/
SIMULATION_ANNUAL_MONTECARLO/
MULTI_ANNUAL/
SIMULATION_ANNUAL_FAILS_ATTACK/
FINAL_SIMULATION/
FINAL_SIMULATION*/
TELEDIFE_ANNUAL/
FINAL_TELEDIFE___11-7-2023_1681/
FINAL_TELEDIFE___11-7-2023_123636/
FINAL_TELEDIFE*/
*.zip

